<% provide(:title, "Главная | Twitter") %>
<h1>Welcome to the home page</h1>
<p>Главная страница проекта Twitter</p>
<a href="contact">Контакты</a><br>
<a href="about">О нас</a><br>
<a href="help">Помощь</a>
